.box{
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.box .title{
    background: #EFEFEF;
    border-bottom: 1px solid #ccc;
    padding: 1rem 2rem;
    color: #088F4A;
    margin: 0;
    text-align: right;
}

.box .row{
    padding: 0 2rem 1rem;
    text-align: right;
}

.box .desc{
    color: #4F4F4F;
    font-size: 1rem;
    text-align: justify;
    line-height: 2rem;
}

.box input[type=checkbox]{
    color: #403C49;
    font-size: 10px;
}

.columnWrapper{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 150px;
}

.columnWrapper > div{
    width: 33%;
}

.form h2{
    color: #088F4A;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.form .controls{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.5rem;
}

.form .controls > span{
    text-align: right;
}

.form .controls .wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form .controls label{
    margin-bottom: .5rem;
    text-align: right;
}

.form .controls input{
    background: rgba(8, 143, 74, 0.06);
    border: 1.21504px solid rgba(8, 143, 74, 0.17);
    border-radius: 6.07519px;
    padding: 10px;
}

.form .controls select{
    background: rgba(8, 143, 74, 0.06);
    border: 1.21504px solid rgba(8, 143, 74, 0.17);
    border-radius: 6.07519px;
    padding: 10px;
}

@media (max-width: 768px) {
    .box .title{
        text-align: center;
    }
    .box .row{
        padding: 0 1rem 1rem;
    }
    .box .desc{
        text-align-last: center;
        font-size: .8rem;
        line-height: 1.5rem;
    }
    .columnWrapper{
        display: flex;
        flex-direction: column;
    }

    .columnWrapper > div{
        width: 100%;
    }
}