.login{
    display: flex;
    width: 15%;
    justify-content: space-evenly;
    align-items: center;
}

.login .search{
    background: #B8D9C8;
    backdrop-filter: blur(4px);
    border-radius: 8px;
    padding: .5rem;
}

.login svg{
    display: flex;
}

.login .btn{
    background: #B8D9C8;
    backdrop-filter: blur(4px);
    border-radius: 8px;
    padding: .5rem .7rem;
    display: flex;
}

.login .btn span{
    color: #088F4A;
    display: flex;
    margin: 0 .3rem;
}

@media (max-width: 1200px) {
   .login{
       width: 100%;
       order: 2;
   }
    .login .search{
        padding: .3rem .6rem;
    }
    .login svg{
        width: 14px;
    }
    .login .btn{
        align-items: center;
        padding: .3rem;
    }
    .login .btn span{
        font-size: .4rem;
    }
}