.menu{
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.menu .nav li{
    margin: 0 2.5rem;
    display: inline-block;
}

.menu .nav > li > a{
    color: #000;
}

@media (min-width: 1200px) {
    .desktop-menu{
        display: block;
    }
    .mobile-menu{
        display: none;
    }
}

@media (max-width: 1200px) {
    .menu{
        width: 100%;
        order: 0;
    }
    .desktop-menu{
        display: none;
    }
    .mobile-menu{
        display: block;
    }
    .mobile-menu > span{
        display: flex;
    }
}