.reset{
    position: relative;
    width: 100%;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.control{
    border: 1.71197px solid rgba(79, 79, 79, 0.8);
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    padding: .8rem 1rem;
}

.control span{
    display: flex;
    cursor: pointer;
}

.control input{
    border: none;
    outline: none;
}

.input{
    margin-bottom: 2rem;
}

.input label{
    position: relative;
    background: #fff;
    padding: 0 1rem;
    top: .7rem;
    right: 1rem;
}

.remember{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    margin: 1rem 0 3rem;
}

.return{
    width: 100%;
    text-align: center;
    display: block;
    margin: 1rem 0 3rem;
    color: #1a9e41;
}