.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
}

.item .divider {
    width: 80%;
    height: 1px;
    background: #ccc;
    margin: 1rem auto;
}

.item .info {
    width: 100%;
    background: rgba(8, 143, 74, 0.2);
    border-radius: 0px 0px 8.34241px 8.34241px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}