.legal {
    position: relative;
    width: 100%;
    height: auto;
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.legal .sidebarbox {
    width: 25%;
    padding: 0;
}

.legal .main {
    width: 70%;
}

.legal .main .top {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.legal .main .top .search {
    background: rgba(196, 196, 196, 0.38);
    opacity: 0.6;
    border-radius: 5.04348px;
    width: 67%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.legal .main .top .search input {
    background: transparent;
    border: none;
    outline: none;
    width: -webkit-fill-available;
}

.legal .main .top .search input::placeholder {
    color: #4F4F4F;
}

.legal .main .top .search span {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.legal .main .top .btn {
    width: 30%;
}

.legal .main .top .btn .button {
    background: #071D4C !important;
    justify-content: space-evenly;
    font-size: .8rem;
    padding: .7rem;
}
.legal .main .top .btn .button svg {
    width: 1.5rem;
}

.items {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 1rem 0 0;
}

.list {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #FFFEFE;
    box-shadow: 0px 1px 11px rgb(0 0 0 / 13%);
    border-radius: 8px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.info .person {
    display: flex;
    align-items: center;
}

.info .person > span {
    width: 100px;
    border: 6px solid #071D4C !important;
    border-radius: 50%;
}

.info .person .data {
    margin-right: 1rem;
}

.info button {
    color: #112553;
    background: #9EA6B9;
    font-size: .9rem;
    font-family: IRANYekan !important;
}
.info button span {
    font-weight: 700 !important;
    font-family: IRANYekan !important;
    margin-right: .5rem;
}
.data h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #4F4F4F;
    margin: 0;
}

.data h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: right;
    color: #4F4F4F;
    margin: 0;
}

.address {
    background: rgba(196, 196, 196, 0.38);
    opacity: 0.6;
    padding: 0.5rem 2rem;
    display: flex;
    font-size: .85rem;
}

.address svg {
    margin-left: 1rem;
}
.address svg path {
    margin-left: 1rem;
    fill: #071D4C !important;
}

.sidebar ul::-webkit-scrollbar-thumb {
    background-color: #283B63 !important;
}

.sidebar h5 {
    background: #C5C9D5;
    color: #071D4C;
}