#legal {
    position: relative;
    width: 100%;
    height: auto;
    padding: 2rem clamp(.7rem, 4vw, 4rem);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#legal .sidebarbox {
    width: 25%;
    padding: 0;
}

#legal .main {
    width: 70%;
}

#legal .main .top {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

#legal .main .top .search {
    background: rgba(196, 196, 196, 0.38);
    opacity: 0.6;
    border-radius: 5.04348px;
    width: 67%;
    display: flex;
    justify-content: space-between;
    padding: clamp(.4rem, .7vw, .7rem) clamp(.6rem, 2vw, 2rem);
}

#legal .main .top .search input {
    background: transparent;
    border: none;
    outline: none;
    width: -webkit-fill-available;
}

#legal .main .top .search input::placeholder {
    color: #4F4F4F;
    font-size: clamp(.6rem, 1vw, 1rem);
}

#legal .main .top .search span {
    display: flex;
    align-items: center;
    cursor: pointer;
}
#legal .main .top .search span svg {
    width: clamp(1rem, 1.8vw, 1.8rem);
    height: clamp(1rem, 1.8vw, 1.8rem);
}

#legal .main .top .btn {
    width: 30%;
}

#legal .main .top .btn .button {
    background: #071D4C !important;
    justify-content: space-evenly;
    font-size: clamp(.5rem, .8vw, .8rem);
    padding: clamp(.5rem, .7vw, .7rem);
}
#legal .main .top .btn .button svg {
    width: clamp(.7rem, 1.5vw .5rem);
}


.items {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 1rem 0 0;
}

.list {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #FFFEFE;
    box-shadow: 0px 1px 11px rgba(0, 0, 0, .19);
    border-radius: 8px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem clamp(.4rem, 2vw, 2rem);
}

.info .person {
    display: flex;
    align-items: center;
}

.info .person > span {
    width: clamp(4rem, 5vw, 5rem) !important;
    border-radius: 50%;
    background: linear-gradient(27deg, rgba(46,100,165,1) 0%, rgba(7,29,76,1) 100%) border-box !important;
    border: clamp(.2rem, .4vw, .4rem) solid transparent !important;
    padding: 0 !important;
    overflow: hidden !important;
}

.info .person .data {
    margin-right: 1rem;
}

.info button {
    color: #071D4C;
    background: #9EA6B9;
    font-size: clamp(.6rem, .9vw, .9rem);
    font-family: IRANYekan !important;
    padding: .9rem clamp(.5rem, 1.3vw, 1.3rem) .6rem;
}
.info button span {
    font-weight: 700 !important;
    font-family: IRANYekan !important;
    margin-right: .5rem;
}
.data h2 {
    font-weight: 700;
    font-size: clamp(.7rem, 1vw, 1.1rem);
    line-height: 25px;
    text-align: right;
    color: #4F4F4F;
    margin: 0;
}

.data h3 {
    font-weight: 400;
    font-size: clamp(.7rem, 1vw, 1rem);
    line-height: 23px;
    text-align: right;
    color: #4F4F4F;
    margin: 0;
}

.address {
    background: rgba(196, 196, 196, 0.38);
    opacity: 0.6;
    padding: 0.5rem 2rem;
    display: flex;
    font-size: clamp(.5rem, .85vw, .85rem);
}

.address svg {
    margin-left: 1rem;
}
.address svg path {
    margin-left: 1rem;
    fill: #071D4C !important;
}

@media (max-width: 800px) {
    
    #legal .sidebarbox {
        display: none;
    }

    #legal .main {
        width: 100%;
    }
    /* #legal .main .top .search {
        width: 100%;
    } */

}
.sidebar ul::-webkit-scrollbar-thumb {
    background-color: #283B63 !important;
}

.sidebar h5 {
    background: #C5C9D5;
    color: #071D4C;
}